{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>Create new Product List</h1>
    {% else %}
        <h1>Sell your gear to us!</h1>
        <p>Once you have made a sell request please visit us in store with your username and the intended item to sell.</p>
    {% endif %}
    {{ include('product/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_product_index') }}">back to list</a>
    {% endif %}
{% endblock %}

