{% extends 'base.html.twig' %}

{% block title %}Store Catalog{% endblock %}

{% block body %}

    <h1>Store Catalog</h1>

    <table class="table">
        <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Type
            </th>
            <th>Price</th>
        </tr>
        </thead>
        {% for prod in products %}
            <tr>
                <td>
                    <a href="product/{{ prod.id }}">
                        {{ prod.name }}
                    </a>
                </td>
                <td>
                    {{ prod.type }}
                </td>
                <td>
                    {{ prod.price }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
