{% extends 'base.html.twig' %}

{% block title %}Book a lesson!{% endblock %}

{% block body %}

    <h1>
        Book a lesson
    </h1>
    <p>
        Welcome to my website !
    </p>

{% endblock %}
